---
CompileFlags:
  Add: [ -xc, -std=c23, -O2, -Wall, -Wextra, -Wno-empty-translation-unit, 
    -Wno-unknown-attributes, -pedantic, -I../include, 
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include, -I../lib/include,
    -D_DEBUG_BUILD_
  ]
  Compiler: arm-none-eabi-gcc
---
If:
  PathMatch: [.*\.hpp, .*\.cpp, .*\.cc ]

CompileFlags:
  Add: [ -xc++, -std=c++23, -O2, -Wall, -Wextra, -Wno-empty-translation-unit, 
        -Wno-unknown-attributes, -pedantic, -I../include, 
        -I/opt/devkitpro/devkitARM/arm-none-eabi/include, -I../lib/include,
        -D_DEBUG_BUILD_
  ]
  Compiler: arm-none-eabi-g++
---
